@use "../partials/functions" as f;
@use "../partials/mixins" as m;

.button {
    @include m.resetA;
    @include m.resetButton;
    font-weight: 500;
    padding: f.rem(15) f.rem(25);
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--black-color);
    border-radius: f.rem(27);
    transition: background-color 0.3s;

    // Modifiers
    &-cta {
        background-color: var(--primary-color);
    }
    &-secondary {
        background-color: var(--light-grey-color);
    }
    &-icon {
        display: flex;
        align-items: center;
        gap: f.rem(10);
    }
}


.from-button{
    background-color: rgba(6, 230, 118, 0.733);
}