@use "../partials/functions" as f;
@use "../partials/mixins" as m;

.button {
    @include m.resetA;
    @include m.resetButton;
    font-weight: 500;
    padding: f.rem(15) f.rem(25);
    background-color: var(--primary-color);
    color: var(--black-color);
    border-radius: f.rem(27);

    display: flex;
    align-items: center;
    width: fit-content;
    gap: f.rem(10);

    transition: background-color 0.3s;

    // Modifiers
    &--cta {
        background-color: var(--primary-color);
    }
    &--secondary {
        background-color: var(--light-grey-color);
    }
    &--icon {
        padding: f.rem(15) f.rem(15);
    }
}
