@use "../partials/functions" as f;
@use "../partials/mixins" as m;

// Login Card
@layer components {
  .form {
    width: 100%;
    max-width: f.rem(540);
    @include m.flexbox($direction: column, $align: center, $justify: center);

    a:hover {
      color: var(--primary-color);
      text-decoration: underline;
    }

    label {
      width: 100%;
      font-weight: 500;
      margin-bottom: f.rem(8);
    }
    input {
      @include m.input-reset;
      &::placeholder {
        color: var(--grey-color);
      }
    }
    // Form Elements
    &__text,
    &__title {
      font-weight: 500;
      text-align: center;

      &__title {
        font-size: f.rem(39);
      }
    }

    &__button[type="submit"] {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      border-radius: f.rem(14);
    }

    // Error Message
    &__message {
      background-color: var(--danger-background-color);
      color: var(--danger-text-color);
      padding: f.rem(12);
      border-radius: f.rem(12);
      margin-bottom: f.rem(20);
      text-align: center;

      &--success {
        background-color: var(--success-background-color);
        color: var(--success-text-color);
      }
    }

    // Forgot Password
    .forgot-password-text {
      @include m.resetA;
      text-align: center;
    }
  }
}
