@use "../partials/functions" as f;
@use "../partials/mixins" as m;

.gallery {
    @include m.resetA;
    @include m.flexbox($direction: column, $align: center, $gap: f.rem(17));
    width: auto;
    transition: 0.3s ease-in-out;

    &__name {
        margin: 0;
        text-align: center;
        font-size: f.rem(25);
        font-weight: 500;
    }

    &__thumbnail__container {
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
        width: 100%;

        aspect-ratio: 1/1;
        border-radius: f.rem(10);
        padding: f.rem(10);

        @include m.flexbox($align: flex-start, $wrap: wrap, $gap: f.rem(10));

        img {
            width: calc(50% - f.rem(5));
            height: calc(50% - f.rem(5));
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: f.rem(10);
        }
    }

    &:hover {
        transform: scale(105%);
    }
}
