@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
    .photo-card {
        position: relative;
        border-radius: f.rem(20);
        overflow: hidden;
        max-width: f.rem(310);
        margin: auto;

        &:hover {
            &::after,
            button,
            a {
                opacity: 1;
                transition: 300ms ease-out;
            }
        }
        &__img {
            width: 100%;
            border-radius: f.rem(20);
        }
        &__delete,
        &__zoom {
            @include m.resetButton;
            width: f.rem(24);
            height: f.rem(24);
            opacity: 0;
            position: absolute;
            z-index: 2;
            cursor: pointer;
        }

        &__delete {
            background-image: url("../images/icons/cross.png");
            right: f.rem(18);
            top: f.rem(18);
        }
        &__zoom {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../images/icons/zoom.png");
        }
        &::after {
            content: "";
            opacity: 0;
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: calc(100% - f.rem(4));
            border-radius: f.rem(20);
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
