@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  // Profil utilisateur
  .user-profile {
    @include m.resetA;
    @include m.flexbox($align: center, $gap: f.rem(13));
    font-size: f.rem(20);

    img {
      width: f.rem(47);
      height: f.rem(47);
      object-fit: cover;
      border-radius: f.rem(1000);
    }
  }

  // Menu utilisateur avec dropdown
  .user-menu {
    position: relative;
    display: inline-block;
    padding: f.rem(8);
    cursor: pointer;
    border-radius: f.rem(20);

    .user-profile {
      display: flex;
      align-items: center;
      gap: f.rem(8);
      height: 100%;

      .user__thumbnail {
        width: f.rem(40);
        height: f.rem(40);
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .user-dropdown {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--primary-color);
      border-radius: f.rem(4);
      box-shadow: 0 f.rem(2) f.rem(8) rgba(0, 0, 0, 0.1);
      min-width: f.rem(250);
      margin-top: f.rem(8);
      z-index: 1000;
      display: none;

      // Flèche en haut du dropdown
      &::before {
        content: "";
        position: absolute;
        top: f.rem(-8);
        left: 50%;
        transform: translateX(-50%);
        border-left: f.rem(8) solid transparent;
        border-right: f.rem(8) solid transparent;
        border-bottom: f.rem(8) solid var(--primary-color);
      }

      .dropdown-item {
        @include m.flexbox($align: center, $gap: f.rem(8));
        padding: f.rem(12) f.rem(16);
        text-decoration: none;
        color: var(--white-color);
        text-align: center;
        transition: background-color 0.2s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    // Zone tampon pour éviter la fermeture accidentelle du menu
    &::after {
      content: "";
      position: absolute;
      bottom: f.rem(-20);
      left: 0;
      width: 100%;
      height: f.rem(20);
    }

    // Affichage du dropdown au survol
    &:hover {
      background-color: var(--light-grey-color);
      .user-dropdown {
        display: block;
      }
    }
  }
}
