@use "../partials/functions" as f;
@use "../partials/mixins" as m;
@layer components {
    .user-profile {
        @include m.resetA;
        @include m.flexbox($align: center, $gap: f.rem(13));

        font-size: f.rem(20);
        img {
            width: f.rem(47);
            height: f.rem(47);
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: f.rem(1000);
        }
    }
}
