.alert {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}


/*
    Gallery Styles
*/

.gallery__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.gallery__title__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__thumbnail {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid lightgray;
    position: relative;
    margin-left: -1.75rem;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.gallery__title__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnail__container {
    margin: 10px;
    border: 2px solid lightgray;
    width: 310px;
    height: 310px;
    display: flex;
    align-items: flex-start;
    border-radius: 10%;
    padding: 0.75rem;
    flex-wrap: wrap;
}

.img__thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
}

.gallery {
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}