@use "fonts" as fonts;
@use "variables" as v;

:root {
    @each $name, $color in v.$colors {
        --#{$name}-color: #{$color};
    }
}

body {
    font-family: fonts.$font1;
    color: var(--text-color);
    background-color: var(--background-color);
}
