@use "fonts" as fonts;
@use "variables" as v;
@use "functions" as f;
@use "mixins" as m;

@layer base {
    * {
        box-sizing: border-box;
    }
    :root {
        @each $name, $color in v.$colors {
            // @if ($name == "primary") {
            //     --#{$name}-hover: #{color.scale($color, $space: hsl)};
            // }
            --#{$name}-color: #{$color};
        }
    }

    body {
        font-family: fonts.$font1;
        font-weight: 400;
        color: var(--text-color);
        background-color: var(--background-color);
    }
    h1,
    h2 {
        font-weight: 400;
    }
    h1 {
        font-size: f.rem(39);
    }
    h2 {
        font-size: f.rem(25);
    }
    a {
        color: var(--primary-color);
    }

    .container {
        margin: auto;
        max-width: f.rem(1300);
        padding: 0 f.rem(16);
    }

    .hero-section {
        @include m.flexbox($align: center, $direction: column, $gap: f.rem(24));
        h1 {
            margin: 0;
            text-align: center;
            font-size: f.rem(76);
        }
        p {
            font-size: f.rem(16);
        }
    }
}
